In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep = '\t')
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

# Step 5. What is the price of each item?
# Step 6. Sort by the name of the item

In [3]:
df['item_price'] = df.item_price.apply(lambda x: float(x[1:-1]))

In [4]:
df_items = df[['item_name', 'item_price']].drop_duplicates()
print(df_items.sort_values('item_name'))

              item_name  item_price
3389  6 Pack Soft Drink       12.98
298   6 Pack Soft Drink        6.49
4510      Barbacoa Bowl       11.49
3195      Barbacoa Bowl        8.69
95        Barbacoa Bowl        9.25
...                 ...         ...
186   Veggie Salad Bowl       11.25
3889  Veggie Soft Tacos       16.98
738   Veggie Soft Tacos       11.25
781   Veggie Soft Tacos        8.75
1395  Veggie Soft Tacos        8.49

[209 rows x 2 columns]

# Step 7. What was the quantity of the most expensive item ordered?

In [5]:
df_items[['item_name', 'item_price']].groupby('item_name').max().sort_values('item_price', ascending = False).head(1)

                              item_price
item_name
Chips and Fresh Tomato Salsa       44.25

In [6]:
df[df['item_name'] == 'Chips and Fresh Tomato Salsa']['quantity'].sum()

130

# Step 8. How many times was a Veggie Salad Bowl ordered?

In [7]:
df[df['item_name'] == 'Veggie Salad Bowl']['order_id'].nunique()

18

# Step 9. How many times did someone order more than one Canned Soda?

In [8]:
# if one time is one unique order_id
df[(df['item_name'] == 'Canned Soda') & (df['quantity']>1)]['order_id'].nunique()

18

In [9]:
# if one time is one unique row
df[(df['item_name'] == 'Canned Soda') & (df['quantity']>1)]['order_id'].count()

20